.methods-list-table {
  .method-header {
    background: #efefef;
    text-align: left;

    th {
      padding: 5px;
    }
  }

  .method-sub-header {
    background: #c7f0fd;
    font-size: 14px;
    font-style: italic;
  }
}
