<h1>{{ docItem.name }} {{docItem.selector}}</h1>
<hr>
<p>Declared In: <a [routerLink]="['/modules', docItem.declaredIn]">{{ docItem.declaredIn }}</a></p>

<p>{{ docItem.description }}</p>


<fs-docs-property-list *ngIf="docItem.inputs.length > 0" [properties]="docItem.inputs">
  <h3>Inputs</h3>
</fs-docs-property-list>

<fs-docs-property-list *ngIf="docItem.outputs.length > 0" [properties]="docItem.outputs">
  <h3>Outputs</h3>
</fs-docs-property-list>

<fs-docs-property-list *ngIf="docItem.properties.length > 0" [properties]="docItem.properties">
  <h3>Properties</h3>
</fs-docs-property-list>

<fs-docs-property-list *ngIf="docItem.methods.length > 0" [properties]="docItem.methods">
  <h3>Methods</h3>
</fs-docs-property-list>
